{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Device Details</h3>
                </div>
                <div class="card-body">
                   
                    
                    <h5 class="card-title text-dark">Device Owner: 
                        <span class="text-success">{{ device.user.name }}</span>
                    </h5>
                    <p class="text-muted">Age: {{ device.user.age }}</p>
                    
                    <hr>

                    <h6 class="text-muted"> Enrolled Courses:</h6>
                    {% if device.courses.all %}
                        <ul class="list-group list-group-flush">
                            {% for course in device.courses.all %} 
                                <li class="list-group-item">
                                    <i class="fas fa-book text-primary"></i> {{ course.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-danger"> No courses assigned</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'main' %}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left"></i> Back to Devices
                    </a>
                    <a href="{% url 'deleteDevice' device.id %}" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i> Delete Device
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

{% endblock content %}
